.column {
    float: left;
}
.btns-column {
    width: 70%;
}
.add-btn-column {
    width: 30%;
}
button {
    background: greenyellow;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
input {
    outline: none;
}
button:hover {
   border: 2px solid limegreen;
   cursor: pointer;
}
button:focus {
    background: limegreen;
    border: none;
    outline-color: limegreen;
}
.display {
    float: left;
    margin: 10px;
    border: 5px solid greenyellow;
    padding: 3px;
}